@model IEnumerable<ModelCL.Notificacion>

@foreach (var item in Model) {
    <div class="row boxNot">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-4 col-sm-2"><img src="http://localhost:4181/@Html.DisplayFor(modelItem => item.TemaNot.TemaNotImagen)" height="70" width="70" alt="Imagen no encontrada" /></div>
                <div class="col-xs-8 col-sm-10">
                    <a href="/notificaciones/eliminar?id=@item.NotificacionId" class="close-custom red" title="Eliminar">&times;</a>
                    <strong>@Html.DisplayFor(modelItem => item.NotificacionTitulo)</strong>
                    <small> - @Html.DisplayFor(modelItem => item.TemaNot.TemaNotDescripcion) (@item.NotificacionFchHora.ToString("dd MMM yyyy - HH:mm"))</small>
                    <p>@Html.Raw(item.NotificacionDescripcion.Replace(Environment.NewLine, "<br/>"))</p>
                </div>
            </div>

        </div>
    </div>
}
