@model IEnumerable<ModelCL.Contenido>

@{
    ViewBag.Title = "Programas";
    var favId = "";
}

@section subnav{

    <div id="subTopNav" style="background-image:url(/Resources/Oficial/bannerProgramas.jpg);">
        <div class="container body-content">
            <h3>Programas</h3>
        </div>
    </div>

}

<p>
    @Html.ActionLink("Crear programa", "Create")
</p>

<div class="col-sm-8 col-sm-offset-2">
    @foreach (var item in Model)
    {
        <div class="MLitem" style="cursor: pointer;" onclick="location.href = '/dietas/ver?id=@item.ContenidoId';">
            <div class="MLitemLeft col-lg-9 col-md-8 col-sm-7 col-xs-12">
                <div class="MLitemTitulo col-sm-12">@item.ContenidoTitulo</div>
                <div class="MLitemCont hidden-xs col-sm-12">@item.ContenidoDescripcion</div>
            </div>

            @{ favId = "fav" + item.ContenidoId; }

            <div class="MLitemRight col-lg-3 col-md-4 col-sm-5 hidden-xs" style="margin: 35px 0;height: 80px;">
                <div>
                    <div class="col-sm-12" title="Cantidad de rutinas" style="margin: 32px 0;">@item.Programa.Rutina.Count().ToString() Rutinas</div>
                </div>
            </div>
        </div>
                }
</div>
