@model IEnumerable<ModelCL.Registro>

@{
    ViewBag.Title = "Historial clínico";
}

<h2>Historial clínico</h2>
<br />
<p>Esta viendo el historial clínico de <b>@ViewBag.Persona</b>.</p>

<div class="datos_generales">
    @Html.Action("_DatosGenerales", "HistorialClinico")
</div>

<div id="dieta">
    @Html.Action("_Dieta", "HistorialClinico")
</div>

@section scripts{
    <!-- morris.js -->
    <script src="~/Scripts/raphael.min.js"></script>
    <script src="~/Scripts/morris.min.js"></script>
    @*<script>
        $('#grafica_peso').ready(function () {
            if ($('#grafica_peso').length) {

                new Morris.Line({
                    element: 'grafica_peso',
                    xkey: 'year',
                    ykeys: ['value'],
                    labels: ['Value'],
                    hideHover: 'auto',
                    lineColors: ['#34495E'],
                    data: [
                        @if (Model.Count() != 0)
                        {
                            @foreach (var item in Model)
                            {
                                @Html.Raw("{ Fch: '" + item.RegistroFchHora + "', value: 20 },")
                            }
                        }
                    ],
                    resize: true
                });
                
            }
        });
    </script>*@
}
