@{
    ViewBag.Title = "Historial clínico";
}

<h2>Historial clínico</h2>
<br />
<p>Esta viendo el historial clínico de <b>@ViewBag.Persona</b>.</p>

<br />

<div id="relacion_peso_altura">
    @Html.Action("_RelacionPesoAltura", "HistorialClinico")
</div>

<br />

<div id="dieta">
    @Html.Action("_Dieta", "HistorialClinico")
</div>