body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

table>tbody>tr>td {
    vertical-align: middle;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------- */


* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f3f3f3;
}

header {
    font-weight: 300;
}

.display-for {
    display: block;
    padding-top: 7px;
}

.btn i, .btn span {
    color: #737373;
}

.btn-circular {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    height: 28px;
    text-align: center;
    width: 28px;
    padding-top: 0;
    margin: 1px 0 3px 5px;
}

    .btn-circular i {
        padding-top: 0;
        position: relative;
        left: -3px;
        font-size: 24px;
        height: 0;
        width: 0;
        top: -0.5px;
    }

    .btn-circular i:hover {
        color: inherit;
    }

.guionMedio {
    margin: 0 5px;
    display: inline-block;
    color: #666;
}

.inputRange {
    width: 33.3%;
    display: inline-block;
    margin-bottom: 0;
}

    .inputRange .form-control {
        height: 30px;
    }

.submitRange {
    width: 16.6%;
    display: inline-block;
    margin-bottom: 0;
}

.divSearch input:focus {
    border-color: #ccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.divSearch > span > button > .fa:focus, .divSearch > span > button > .fa:hover {
    color: initial !important;
}

.alert-tags {
    display: inline-block;
    color: #333;
    background-color: #fff;
    padding: 4px 20px 4px 8px;
    margin-right: 8px;
}

    .alert-tags > a {
        right: -10px !important;
    }

.barras {
    display: inline-block;
    cursor: pointer;
}

.barra1, .barra2 {
    width: 17px;
    height: 1px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.change .barra1 {
    -webkit-transform: rotate(-45deg) translate(-3px, 3px);
    transform: rotate(-45deg) translate(-3px, 3px);
}

.change .barra2 {
    -webkit-transform: rotate(45deg) translate(-1px, -1px);
    transform: rotate(45deg) translate(-1px, -1px);
}

.topnav .cruz {
    z-index: 1000;
    padding: 13px 0 9px;
}

.terminos_condiciones{

}


/********** CRUZ END **********/
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    left: -250px;
    opacity: 0;
    z-index: 999;
    top: 0;
    background-color: #111;
    overflow: auto;
    transition: 0.5s;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.2), 6px 0 20px 0 rgba(0, 0, 0, 0.19);
}

.ul-sidenav {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
}

    .ul-sidenav li {
        padding: 8px 0 8px 8px;
        margin: 0 20px;
        border-bottom: 1px solid;
    }

.sidenav .opSidnav {
    text-decoration: none;
    font-size: 10.5pt;
    color: #fff;
    display: block;
    transition: 0.3s;
}

    .sidenav .opSidnav:hover, .sidenav .opSidnav:focus, .offcanvas .opSidnav:focus, .barras:hover, .barras:focus {
        opacity: .65;
    }

.sidenav .typewrite:hover, .sidenav .typewrite:focus {
    opacity: 1;
}

.sidenav .typewrite {
    font-size: 14pt;
    text-align: center;
    padding: 0;
    cursor: default;
}

li.liHi {
    padding: 15% 0;
    max-height: 95px;
    overflow: hidden;
}

.sidenav .cruz {
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 450px) {
    #out {
        opacity: 0;
        background: rgba(0,0,0,0.2);
    }
}

/* Top Nav responsive */
@media screen and (max-width: 360px) {
    .topnav .topnavli {
        margin: 0 0.7% !important;
    }
}
@media screen and (max-width: 319px) {
    .topnav .topnavli {
        margin: 0 0 !important;
    }

    .topnavli > a {
        width: 66px;
    }
}

@media screen and (max-width: 380px) {
    .sidenav {
        width: 100%;
        height: 0;
        top: 44px;
        left: 0;
    }

    li.liHi {
        padding: 9% 0;
    }
}

#out {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: -1;
}

/**********************************************   TOP NAV   **********************************************/

#menuContainer {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 900;
    width: 100%;
    max-height: 44px;
    background: rgba(0,0,0,0.8);
    transition: 1s;
    display: block;
}

#menu {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: static;
    text-align: center;
}

.topnav {
    list-style-type: none;
    position: static;
    padding: 0;
    margin: 0 -10px;
    width: auto;
    height: 44px;
}

    .topnav .topnavli {
        display: inline-block;
        position: static;
        height: 44px;
        margin: 0 1.3%;
    }

    .topnavli > a {
        width: 77px;
        text-align: center;
    }

    .topnav a {
        float: left;
        display: block;
        color: #fff;
        padding: 12px 0;
        text-decoration: none;
        font-size: 10.5pt;
    }

    .topnavli > div > .dropdown-menu > li > a:focus, .topnavli > div > .dropdown-menu > li > a:hover {
        color: inherit;
        text-decoration: underline;
        background-color: inherit;
    }    

@media screen and (max-width: 964px) {
    .topnav a {
        display: none;
    }

    .topnav .cruz, .topnav .logoBanner, .topnav .user {
        display: block;
    }
}


/************************************************************   SUB MENU   ************************************************************/

.dropdown-menuS {
    width: 100%;
    position: absolute;
    top: 43px;
    left: 5px;
    z-index: 1001;
    float: left;
    min-width: 100%;
    padding: 9px 0 0;
    font-size: 10.5pt;
    text-align: center;
    list-style: none;
    background-color: #fbfbfb;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-right: 0;
    border-left: 0;
    box-shadow: rgba(0,0,0,.176) 0 6px 12px;
    display: none;
}

.dropdown-menuS > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    width: 160px;
}

    .dropdown-menuS > li > a > p {
        margin: 0;
        padding: 10px 0 0;
    }

.dropdown-menuExtencive > li > a {
    padding: 3px 0px;
    width: 120px;
}


/************************************************************   USER   ************************************************************/

.user {
    width: 77px;
    background-size: 14px 20px;
    background-repeat: no-repeat;
    background-image: url("../Resources/Oficial/user.svg");
    background-position: center center;
    height: 44px;
}

#ulUsu {
    overflow: hidden;
}

.userTitle {
    margin: 10px 0px;
    text-align: center;
}

.userLiSubMenu {
    text-align: center;
    margin: 5px 10% 10px;
}

    .userLiSubMenu > a {
        margin-bottom: 10px;
        overflow: hidden;
    }

/*dropdown-menu Usu*/
#jojo {
    position: relative;
    top: 0px;
    width: 100%;
    margin: -7px 0px 10px;
    overflow-x: hidden;
    max-height: 112px;
}

.dropdown-menu {
    position: absolute;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
    margin-top: 3px;
    top: 44px;
}

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        transition: 0.8s;
    }

    .dropdown-menu li a {
        width: 100%;
    }

.arrow{
    position: static;
}

.open.arrow:before {
    top: 25px;
    border-width: 11px;
    position: absolute;
    border-color: transparent transparent #d6d6d6;
    border-style: solid;
    opacity: 1 !important;
}

.open.arrow:after {
    top: 26.5px;
    z-index: 1001;
    border-width: 11px;
    position: absolute;
    border-color: transparent transparent #fff;
    border-style: solid;
    opacity: 1 !important;
}

.open.arrow:before, .open.arrow:after {
    content: " ";
    opacity: 0;
    display: block;
    margin-left: 28px;
    height: 0;
    width: 0;
    transition: opacity 0.3s;
}

.dropdown-menu .userLi {
    display: table;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #e3e3e3;
}

.logoBanner {
    background-size: 22px;
    background-repeat: no-repeat;
    background-image: url(../Resources/Oficial/logoBanner.svg);
    background-position: center center;
    padding: 22px 0 !important;
}

    .logoBanner:hover {
        -webkit-animation-name: pampita; /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 2.3s; /* Safari 4.0 - 8.0 */
        -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
        animation-name: pampita;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes pampita {
    0% {
        background-size: 22px;
    }

    10% {
        background-size: 23px
    }

    20% {
        background-size: 24px
    }

    30% {
        background-size: 23px
    }

    40% {
        background-size: 22px
    }

    100% {
        background-size: 22px
    }
}

/* Standard syntax */
@keyframes pampita {
    0% {
        background-size: 22px;

    }

    10% {
        background-size: 23px
    }

    20% {
        background-size: 24px
    }

    30% {
        background-size: 23px
    }

    40% {
        background-size: 22px
    }

    100% {
        background-size: 22px
    }
}


/****************************************************************   SUBMENU LEFT   ****************************************************************/

.subMenu-ul {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

    .subMenu-ul > li > a {
        text-decoration: none;
        font-size: 10.5pt;
        color: #fff;
        display: block;
        transition: .3s;
    }

    .subMenu-ul > li {
        border: 0;
        background-color: transparent;
        margin-right: 0;
        border-radius: 2px;
        transition: .3s;
    }

    .subMenu-ul > li:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }


/****************************************************************   SUB TOP NAV   ****************************************************************/

#subTopNav {
    top: -6px;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-bottom: 50px;
}

    #subTopNav h3 {
        margin: 0;
        padding: 14px 0;
        color: #ffffff;
        text-shadow: 0 0 0px #000, 0 0 5px #000;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-weight: 300;
    }


/****************************************************************   SOCIAL ICON   ****************************************************************/

.socialButton {
    text-align: center;
    font-size: 14pt;
}

    .socialButton ul {
        list-style-type: none;
        position: absolute;
        padding: 0;
        margin: 0;
        left: 0;
        width: 100%;
    }

        .socialButton ul li {
            padding: 5px;
            display: inline-block;
            margin: auto;
            border: 0;
        }

.fa {
    width: 47px;
    height: 47px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

    .fa:focus, .fa:hover {
        text-decoration: none;
        color: white;
    }

.fa-facebook {
    background: #3B5998;
    color: white;
}

    .fa-facebook:hover {
        background-color: #4264aa;
    }

.fa-twitter {
    background: #55ACEE;
    color: white;
}

    .fa-twitter:hover {
        background-color: #6cb7f0;
    }

.fa-google {
    background: #dd4b39;
    color: white;
}

    .fa-google:hover {
        background-color: #e15f4f;
    }

/****************************************************************   SLIDE   ****************************************************************/


.sliderContainer {
    position: relative;
    z-index: 800;
    cursor: default;
    top: -50px;
}

.slider {
    width: 100%;
    height: 540px;
    font-family: 'Poppins',sans-serif;
}

    .slider h1 {
        font-weight: 700;
    }

.slick-track {
    height: 100%;
}

.slick-slide {
    background: #3a8999;
    color: white;
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-dots {
    bottom: -30px;
}

.slick-slide:nth-child(odd) {
    background: #e84a69;
}

.progressBarContainer {
    position: relative;
    bottom: 20px;
    width: 235.3px;
    margin: 0 auto;
    display: flex;
}

    .progressBarContainer div {
        display: block;
        width: 30%;
        padding: 0;
        cursor: pointer;
        margin-right: 5%;
        float: left;
        color: white;
    }

        .progressBarContainer div:last-child {
            margin-right: 0;
        }

        .progressBarContainer div span.progressBar {
            width: 100%;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.4);
            display: block;
        }

            .progressBarContainer div span.progressBar .inProgress {
                background-color: rgba(255, 255, 255, 0.8);
                width: 0%;
                height: 2px;
            }



/************************************************************ SLIDES CONTENT ************************************************************/

.accordian {
    width: 77%;
    height: 333px;
    overflow: hidden;
    margin: auto;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0px 8px 6px -6px black;
}

    .accordian ul {
        padding: 0;
        margin: 0;
    }

    .accordian li {
        position: relative;
        display: block;
        width: 20%;
        float: left;
        border-left: 1px solid #888;
        -webkit-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 25px 10px rgba(0,0,0,0.5);
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
    }

    .accordian ul:hover li {
        width: 10%;
    }

    .accordian ul li:hover {
        width: 60%;
    }

    .accordian li > a {
        display: block;
        width: 703px;
        height: 333px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

.image_title {
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
}

    .image_title a {
        display: block;
        color: #fff;
        text-decoration: none;
        padding: 20px;
        font-size: 16px;
    }

.slick-slide > div {
    height: 100%;
}

.comidasSlide {
    display: flex;
    height: 100%;
    background: url(/resources/oficial/mantel.jpg) no-repeat center;
    background-size: cover;
}

.firstLiAccordian {
    border: 0;
}

.slideAccordian {
    height: 100%;
}

.auxContAccordianAlt {
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.ContAccordianAlt {
    margin: auto 25px;
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 480px) {
    .accordian {
        display: none;
    }

    .auxContAccordianAlt {
        display: flex;
    }
}

@media screen and (max-width: 940px) {
    .accordian {
        width: 90%;
    }
}



/********************************************************** ML CONTENIDO **********************************************************/

.MLfiltros {
    float: left;
}

.MLitemFiltro {
    margin-bottom: 24px;
}

.MLfiltrosHead {
    margin-bottom: 10px;
}

.MLfiltrosAplicados {
    margin-bottom: 30px;
}

.MLfiltrosAplicados > div .alert {
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
}

.MLcontenedor {
    float: left;
}

.MLitem {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
    transform: translateY(0px);
    transition: all 0.5s;
}

    .MLitem:hover {
        transform: translateY(-1px);
        -webkit-box-shadow: 0 3px 20px 0px rgba(0,0,0,.3);
        box-shadow: rgba(0,0,0,.3) 0 3px 20px 0px;
        transition: all .3s;
    }

    .MLitem img {
        width: 100%;
        height: 130px;
        margin: 10px 0;
        border-radius: 3px;
    }


.MLitemLeft {
    padding: 0 10px;
    border-right: 2px solid #f3f3f3;
}

.MLitemTitulo {
    margin: 35px 0 10px;
    font-size: 18pt;
    font-weight: 300;
}

@media (max-width: 767px) {
    .MLitemTitulo {
        margin: 58px 0;
    }
}

.MLitemCont {
    max-height: 62px;
    overflow: hidden;
    font-weight: 300;
}

.MLitemRight {
    margin: 45px 0 31px;
    color: #666;
    font-size: 13px;
}

    .MLitemRight > div > a {
        position: absolute;
        font-size: 20px;
        top: -50px;
        right: 0px;
        display: none;
        color: #333;
        cursor: pointer;
    }

    .MLitem:hover .MLitemRight > div > a {
        display: inline-block;
    }

.MLitemRight > div > .fa-heart {
    color: #3d94de;
}

.MLitemRight > div > .fa:hover {
    color: #337ab7;
}

.MLitemSR {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    margin: 30px auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .MLitemSR > div {
        display: inline-block;
        vertical-align: middle;
    }

.MLimgSR {
    margin-right: 35px;
}

.sinPadding{
    padding:0;
}

.buttonText {
    color: inherit;
}

.buttonText:hover {
    text-decoration: none;
    color: inherit;
}

dl {
    margin: 0;
}

.dlFiltros dt {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.dlFiltros dd a {
    font-size: 14px;
    font-weight: 400;
    color: #666;
    cursor: pointer;
}

.dlFiltros dd {
    margin-bottom: 3px;
}

.dlFiltros dd a:hover {
    color: #333;
    text-decoration: none;
}


/********************************************************** custom-checkbox **********************************************************/


input.custom-control-input {
    display: none;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    font-size: 14px;
    font-weight: 400;
    color: #666;
    width: 100%;
    cursor: pointer;
}

    .custom-checkbox .custom-control-indicator {
        content: "";
        float: right;
        display: inline-block;
        position: relative;
        width: 30px;
        height: 10px;
        background-color: #818181;
        border-radius: 15px;
        margin-right: 10px;
        -webkit-transition: background .3s ease;
        transition: background .3s ease;
        vertical-align: middle;
        margin: 6px 16px 0;
        box-shadow: none;
    }

        .custom-checkbox .custom-control-indicator:after {
            content: "";
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 18px;
            background-color: #f1f1f1;
            border-radius: 21px;
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
            left: -2px;
            top: -4px;
            -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
            transition: left .3s ease, background .3s ease, box-shadow .1s ease;
        }

    .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
        background-color: #84c7c1;
        background-image: none;
        box-shadow: none !important;
    }

        .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator:after {
            background-color: #84c7c1;
            left: 15px;
        }

    .custom-checkbox .custom-control-input:focus ~ .custom-control-indicator {
        box-shadow: none !important;
    }

/*a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

    a.animated-button:link:after, a.animated-button:visited:after {
        content: "";
        position: absolute;
        height: 0%;
        left: 50%;
        top: 50%;
        width: 150%;
        z-index: -1;
        -webkit-transition: all 0.75s ease 0s;
        -moz-transition: all 0.75s ease 0s;
        -o-transition: all 0.75s ease 0s;
        transition: all 0.75s ease 0s;
    }

    a.animated-button:link:hover, a.animated-button:visited:hover {
        color: #000;
        text-shadow: none;
    }

        a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
            height: 450%;
        }

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 53.4px auto 0;
    padding: 10px 0;
    width: 80%;
    color: #000;
    font-size: 10pt;
    border-radius: 0;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}







a.animated-button.thar-three {
    color: #000;
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #F7CA18;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    0s;
}

    a.animated-button.thar-three:hover {
        color: #000 !important;
        background-color: transparent;
        text-shadow: nthree;
        font-weight: bolder;
    }

        a.animated-button.thar-three:hover:before {
            left: 0%;
            right: auto;
            width: 100%;
        }

    a.animated-button.thar-three:before {
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        content: '';
        color: #000 !important;
        background: #F7CA18;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        0s;
    }*/