<img id="getPremiumIMG" src="~/Resources/Oficial/GetPremium.png"/>

<p>Las herramientas premium de YoTeCuido 
    te ayudarán a mejorar al máximo el nivel de tu salud.</p>
<p>¿Quieres alcanzar tu meta?</p>

<br />

<a href="/configuracion" class="btn-custom btn-block btn-rounded btn-info-custom">Obtén Premium</a>