@model List<ModelCL.Persona>

<select onchange="alert($(this).val())" class="selectpicker show-tick" title="Cuidando a..." data-size="4" data-width="80%" @*data-live-search="true"*@>
    <optgroup label="Cuidando a...">
        @foreach (var item in Model)
        {
            <option value="@item.PersonaId">@item.PersonaNombre @item.PersonaApellido</option>
            //falta matchear con cookie para poner selected
        }
    </optgroup>
</select>
