
@{
    ViewBag.Title = null;
}

@if (ViewBag.PermisoDenegado == true)
{
    <div class="modal fade" id="PopUpConfirmationMsg" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¡Atención!</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_PermisoDenegado")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmar()" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <h3>¿Qué es YoTeCuido?</h3>

    <p>YoTeCuido es una aplicación web orientada al público en general, pero más específicamente a personas que padezcan enfermedades cronicas; Diabetes, Celiaqía, Obesidad, entre otras.</p>
</div>

<div>
    <h3>¿Quiénes somos?</h3>

    <p>Somos Mate Software Development. Un pequeño grupo de estudiantes de informática aficionados al desarrollo de aplicaciones.</p>
</div>

<div>
    <h3>¿Cuáles son nuestros objetivos?</h3>
    <p>• Brindar herramientas que faciliten a los usuarios llevar una vida saludable, seguir sus tratamientos y hacerse controles facil, rapida y comodomente de sus enfermedades.</p>
    <p>• Enseñar y ayudar a las personas a llevar una vida saludable.</p>
    <p>• Generar un medio virtual en el cual el usuario se sienta comodo y motivado a mejorar su salud.</p>
</div>

<div>
    <h3>¿Cómo funciona?</h3>
    <p>Es facil:</p>
    <p>• Simplemente regístrate y tendrás acceso a casi todas las funcionalidades!</p>
    <p>• Puedes acceder a más funcionalidades suscribiéndote a nuestro Plan Premium.</p>
    <p>• Podrás ver información e interactuar con otros usuarios desde cualquier dispositivo con conexión a internet.</p>
</div>

<h3>¿Cómo pretendemos lograrlo?</h3>
<p>Dándole al usuario herramientas para llevar un control de sus actividades diarias, acompañadas de articulos, gráficas, lineas de tiempo y más ¡mucho más!</p>



@section scripts {

    @Scripts.Render("~/bundles/Slides")

}

@section style {

    @Styles.Render("~/Content/Slick")

}
