
@{
    ViewBag.Title = null;
}

@*<h2>"Encontramos un problema... y queremos arreglarlo"</h2> --> Posible eslogan *@

<div>
    <h3>¿Qué es "YoTeCuido"?</h3>

    <p>YoTeCuido es una página y aplicación web orientada al publico en general, pero más especificamente a personas que padezcan enfermedades cronicas; Diabetes, Celiaqía, Obesidad, entre otras.</p>
</div>

<div>
    <h3>¿Quiénes somos?</h3>

    <p>Somos "Mate Software Development". Una empresa formada por un pequeño grupo de estudiantes de informática aficionados en el desarrollo de aplicaciones e infraestructura.</p>
</div>

<div>
    <h3>¿Cuáles son nuestros objetivos?</h3>
    <p>-Brindar herramientas que faciliten a los usuarios para poder llevar una vida saludable, tratamiento y control facil, rapido y comodo de sus enfermedades (en el caso de que las padezca)</p>
    <p>-Enseñar y ayudar a personas que deseen llevar una vida saludable</p>
    <p>-Generar un medio virtual en el cual el usuario se sienta comodo y motivado a mejorar su salud</p>
</div>

<div>
    <h3>¿Cómo funciona?</h3>
    <p>Es facil:</p>
    <p>-Simplemente con registrarte ya tienes acceso a casi todas las funcionalidades!</p>
    <p>-Puedes acceder a funcionalidades "Premium" por una suscripción mensual muy económica que nos ayudará a mantener y mejorar la aplicación</p>
    <p>-Podras ver información e interactuar con otros usuarios desde cualquier dispositivo (computadora, celular, tablet) con conexión a internet</p>
</div>

<h3>¿Cómo pretendemos lograrlo?</h3>
<p>Dandole al usuario herramientas para llevar un control de su actividad diaria, acompañadas de información en diferentes formas (articulos, graficas, lineas de tiempo, etc).</p>



@section scripts {

    @Scripts.Render("~/bundles/Slides")

}

@section style {

    @Styles.Render("~/Content/Slick")

}
