
@{
    ViewBag.Title = null;
}

@if (TempData["PermisoDenegado"] != null)
{
    <div id="PopUpPermisoDenegado" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div id="WidthPermisoDenegado" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Descubre YoTeCuido Pro</h4>
                </div>
                <div class="modal-body">
                    @Html.Partial("_PermisoDenegado")
                </div>
            </div>
        </div>
    </div>
}

@if (TempData["NoCumpleRequisitos"] != null)
{
    <div class="modal fade" id="PopUpNoCumpleRequisitos" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">¡Atención!</h4>
                </div>
                <div class="modal-body">
                    @TempData["NoCumpleRequisitos"]
                </div>
            </div>
        </div>
    </div>
}



<br />

<div class="row">
    <div class="col-sm-12 boxItemHome">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulosH">La mejor manera de cuidar tu salud</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="textH">YoTeCuido es una aplicación web que te ofrece un conjunto de herramientas para que puedas mejorar tu alimentación, tu actividad física y el control de enfermedades crónicas como la diabetes, celiaquía, obesidad, y muchas más.</p>
            </div>
            <div class="col-sm-12" style="text-align: center;">
                <img src="~/resources/oficial/responsive-screen.png" style="max-width: 300px" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 boxItemHome">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulosH">¿Cómo funciona?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p class="textHLeft">
                    Prueba la aplicación de forma gratuita:
                    <ul class="textHLeft listH">
                        <li>Simplemente regístrate y tendrás acceso a casi todas las funcionalidades!</li>
                        <li>Puedes acceder a más funcionalidades suscribiéndote a nuestro Plan Premium.</li>
                        <li>Podrás ver información e interactuar con otros usuarios desde cualquier dispositivo con conexión a internet.</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 boxItemHome">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulosH">¿Quiénes somos?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="textH">Somos Mate Software Development. Un pequeño grupo de estudiantes de informática aficionados al desarrollo de aplicaciones.</p>
            </div>
            <div class="col-sm-12" style="text-align: center;">
                <img src="~/resources/oficial/mate.jpg" style="width: 115px;border-radius: 50%;margin-top: 25px;" />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 boxItemHome">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulosH">¿Cuáles son nuestros objetivos?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <ul class="textHLeft listH">
                    <li>Brindar herramientas que faciliten a los usuarios llevar una vida saludable, seguir sus tratamientos y hacerse controles facil, rapida y comodomente de sus enfermedades.</li>
                    <li>Enseñar y ayudar a las personas a llevar una vida saludable.</li>
                    <li>Generar un medio virtual en el cual el usuario se sienta comodo y motivado a mejorar su salud.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 boxItemHome">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="titulosH">¿Cómo pretendemos lograrlo?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <p class="textH">Dándole al usuario herramientas para llevar un control de sus actividades diarias, acompañadas de articulos, gráficas, lineas de tiempo y más ¡mucho más!</p>
            </div>
        </div>
    </div>
</div>


@section scripts {

    @Scripts.Render("~/bundles/Slides")

    <script>
        $('#PopUpPermisoDenegado').modal({
            show: 'true'
        });
                
        $('#PopUpNoCumpleRequisitos').modal({
            show: 'true'
        });
    </script>

    <script>
        function ajustarImg(){
            var x = $("#WidthPermisoDenegado").width();
            document.getElementById("getPremiumIMG").style.width = x + "px";
        }

        ajustarImg();

        $(window).resize(function () {
            ajustarImg();
        });
    </script>
}

@section style {

    @Styles.Render("~/Content/Slick")

}
