
@{
    ViewBag.Title = "Mapa";
}

@section subnav{

    <div id="subTopNav" style="background-image:url(/Resources/Oficial/bannerMapa.jpg);">
        <div class="container body-content">
            <h3>Mapa</h3>
        </div>
    </div>

}

<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1iEDdRPT4UtGfhpOu3pTMpzVYXiw" height="500" style="width:100%;"></iframe>